<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../node_modules/semantic-ui/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body>
  <div class="ui stackable one column grid container">
    <div class="column">
      <div class="ui segment"> <label class="ui blue ribbon label">App Components (<%= appComponents.length %>)</label>
        <div class="ui divided large list list-components">
          <% for(var i=0; i < appComponents.length; i++) { %>
            <% var resComp = appComponents[i]; %>
              <div class="item"> <i class="html5 icon"></i>
                <div class="content">
                  <%= resComp.relativePath %>
                </div>
              </div>
              <% } %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment"> <label class="ui orange ribbon label">External Components (<%= externalComponents.length %>)</label>
        <div class="ui divided large list list-components">
          <% for(var i=0; i < externalComponents.length; i++) { %>
            <% var resComp = externalComponents[i]; %>
              <div class="item"> <i class="html5 icon"></i>
                <div class="content">
                  <%= resComp.relativePath %>
                </div>
              </div>
              <% } %>
        </div>
      </div>
    </div>
  </div>
  <script src="../../node_modules/semantic-ui/dist/semantic.min.js"></script>
</body>

</html>